span {
    background-color: rgb(152, 12, 152);
    color: white;
    padding: 4%;
    border-radius: 8%;
}

.nav1-link:hover {
    color: rgb(152, 12, 152);
}

button:hover {
    color: rgb(152, 12, 152) !important;

}