body {
    background-color: rgb(241, 241, 241);
}



.span {
    background-color: rgb(152, 12, 152);
    color: white;
    padding: 4%;
    border-radius: 8%;
}

.nav1-link:hover {
    color: rgb(152, 12, 152);
}

button:hover {
    color: rgb(152, 12, 152) !important;

}

#number-of-items-div {
    height: 50px;
    width: 100%;

}

.sort-by-view-btn {
    background-color: rgb(152, 12, 152);
    color: white;
}

.default-p {
    background-color: white;
}

.author-img {
    border-radius: 50%;
    width: 5%;
}



.ellipsis-content {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-align: justify;
}

.details-icon-button:hover {
    cursor: pointer;
    color: rgb(152, 12, 152);
    ;
}